*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary:#4C5FD5;
    --color-secondary:#dadbf1;
    --color-accent:#fff;
    --color-headings:#000;
}
html{
    font-size: 62.5%;
}
/*Typography*/
body{
    font-family: 'Inter', sans-serif;
    font-size:2rem;
}

/*Headings*/
h1, h2, h3{
    color: var(--color-headings);
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container--small{
    max-width: 1080px;
    margin: 0 auto;
}
/*Buttons*/

.btn{
   
    font-size: 1.5rem;
    border-radius: 10px;
    vertical-align: middle;
    margin:2rem 1rem;
    width: 90vw;
    text-align: center;
    color: var(--color-accent);
}
.btn--primary{
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
    
}
.btn--outlined{
    padding: 1rem;
    background-color: rgb(25, 24, 25);
    border: 1px solid var(--color-accent);
}
@media screen and (min-width:768px){
    .btn{
        display: inline-block;
        width: fit-content;
        margin: 1rem;
    }
}

/*Arrows*/

.arrw__container{
    width: 80px;
}
.arrow{

    vertical-align: middle;
    margin: auto;
    padding: auto 2rem;
    font-size: 20px;
    color: var(--color-headings);
    cursor: pointer;
    width: fit-content;
}
.arrow--primary{
    font-size: 1.5rem;
    color: var(--color-primary);
}
.arrow--primary:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
/*Input*/
.input-group{
    margin: 2rem auto;
    width: 90%;
    max-width: 700px;
    display:flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 0 10px 10px #ccc;

}
.input{
    width: 100%;
    flex-grow: 1;
    font-size:1.2rem;
    outline: none;
    height: 5rem;
    padding: 1rem 2rem;
    border: 0;
}
::placeholder{
    opacity: 0.5;
    font-size: 1.7rem;
}

/*Links*/
.links{
    text-decoration: none;
    font-size: 2rem;
    padding-left: 1.5rem;
}
.links--primary{
    color: var(--color-primary);
}

/*Media*/

.media{
    display:flex;
}
.media .media__image-container{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
.media__image-container>img{
    width: 100%;
    height: 100%;
   
}
.media__body{
    flex-grow: 1;
    margin-left: 3rem;
}
.media__title{
    color: var(--color-headings);
    margin-bottom: 1rem;
    font-size: 2.2rem;
}
.media__content{
    font-size: 1.8rem;
    opacity: 0.7;
    margin-bottom: 2rem;
}
.media__body .links{
    padding: 0;
}

/*Grid*/

.grid{
    display: grid;
    padding: 1.5rem 2rem;
    gap:5rem 3rem;
}
@media screen and (min-width:768px) {
    .grid--1x2{
        grid-template-columns: repeat(2,1fr);
    }
}
/*Lists*/

.list{
    list-style-type: none;
}
.list__item{
    line-height: 1.5;
}
.list__heading{
    margin:1.5rem 0;
}

/*Footer*/
.footer{
    background-color: var(--color-headings);
    padding: 1rem 0 5rem;
    
}
.footer .list__heading,
 .footer .list__item{
   text-align: center;
}

.footer .list__heading{
    color: var(--color-accent);
    font-size: 3rem;
}
.footer .list{
    color: var(--color-accent);
    font-size: 2rem;

}
@media  screen and (min-width:768px) {
    .footer__container{
        display: flex;
        justify-content: space-between;
        
    }
    .footer .list__heading{
        font-size: 2rem;
    }
    .footer .list{
        font-size: 1.5rem;
    }
}

/*NavBar*/
.navbar-container{
    background-color: var(--color-headings);
}
.navbar{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.navbar__brand{
    display: flex;
}
.navbar .navbar__heading{
    color: var(--color-accent);
    font-size: 3rem;

}
.navbar .navbar__content{
    align-self: center;
    margin-left: 2rem;
    color:var(--color-accent);
}
@media screen and (min-width: 768px) {
    .navbar{
        display: flex;
        flex-direction: row;
    }
}
/*Hero Section*/

.hero{
    background-color: var(--color-secondary);
    padding: 10rem 0;
    text-align: center;
}